*
!*.py
!utils
!yarn
!README.md
!requirements.txt
!Dockerfile
!.dockerignore
!docker-entrypoint.sh
!docker-compose*.yml
!docker
!docker/**
!tests
!res
!res/*.jar
!res/SimpleApp
!res/SimpleApp/*.scala
!res/SimpleApp/*.md
!res/*.nse
